/* 3. Write a CSS rule to style the body tag to modify the font family and font size properties. */
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  background-color: orange; 
}

/* 4. Write a CSS rule to style the header tag to modify the background color property. */
header {
	background-color: lightblue;
	line-height: 1.6em;
}

/* 5. Write a CSS rule to style the nav tag to modify the background color property. */
nav {
	background-color: lightyellow;
}

/* 6 - Write a CSS rule to style the main tag to modify the background color and font size property */
main {
	font-size: 1.2rem;
	background-color: lightgreen;
}

/* 7 - Write a CSS rule to style the footer tag to modify the background color property. */
footer {
    background-color: green;
    color: white;
    padding: 10px 10px 10px 10px; 
    line-height: 1;
    overflow: hidden;   /* Keeps internal margins contained */
}

/* 8 - Write a CSS rule to style the li tag to modify the display and width properties.  */
ul {
	list-style: none;
}
li {
	display: inline-block;
	width: 300px;
}
li > a {
	text-decoration: none;
}

/* 9 - Write a CSS rule to style the h1 tag to modify the text alignment, font family, and color  properties. */
h1 {
	font-size: 4rem;
	font-family: 'Times New Roman',Georgia, serif;
	text-align: center;
	color: #000080;  /* navy blue */
	line-height: 1.2em;
}
/* 10 - Write a CSS rule to style the p tag to modify the line height property. */
p {
	line-height: 1.6em;
}
